*.pdf
*.html
out.*
models/
plots/
*.db

__pycache__/
*.py[cod]
*$py.class

*~
*.bak

old/
ne_110m_geography_marine_polys/

.ipynb_checkpoints
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.idea/


